/* Overall */
body {
    padding-top: 0;
    color: #444444;
}

/* Colour Fixes */
.navbar-default .navbar-brand {
    color: #444444;
}

.navbar-default .navbar-nav > li > a {
    color: #444444;
}

.list-group-item {
    border: 1px solid #EEE;
    color: #444444;
}

pre {
    background: #FFF;
    border: 1px solid #EEE;
}

/* Navigation */
#navbar-top {
    margin: 0;
}

#navbar-top.affix {
    position: fixed;
    top: 0;
    width: 100%;
}

#logo-banner {
    background: #FFF;
    border-bottom: solid 1px #EEE;
}

/* Cascading Menus */
.dropdown-submenu {
    position: relative;
}

.dropdown-menu {
    border: 1px solid #EEE;
    -webkit-box-shadow: 0 4px 8px rgba(0, 0, 0, 0.05);
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.05);
}

.dropdown-submenu > .dropdown-menu {
    border-radius: 0 4px 4px 4px;
    left: 100%;
    margin-top: -6px;
    margin-left: -1px;
    top: 0;
    -webkit-border-radius: 0 4px 4px 4px;
    -moz-border-radius: 0 4px 4px;
}

.dropdown-submenu:hover > .dropdown-menu {
    display: block;
}

.dropdown-submenu > a:after {
    display: block;
    content: " ";
    float: right;
    width: 0;
    height: 0;
    border-color: transparent;
    border-style: solid;
    border-width: 5px 0 5px 5px;
    border-left-color: #ccc;
    margin-top: 5px;
    margin-right: -10px;
}

.dropdown-submenu:hover > a:after {
    border-left-color: #FFF;
}

.dropdown-submenu.pull-left {
    float: none;
}

.dropdown-submenu.pull-left > .dropdown-menu {
    left: -100%;
    margin-left: 10px;
    -webkit-border-radius: 6px 0 6px 6px;
    -moz-border-radius: 6px 0 6px 6px;
    border-radius: 6px 0 6px 6px;
}

.navbar-default .navbar-nav > li > a {
    cursor: pointer;
}

/* Footer */
.footer {
    border-bottom: solid 1px #EEE;
    border-top: solid 1px #EEE;
    padding-bottom: 1.5em;
    padding-top: 1.5em;
    margin-bottom: 0;
}

.footer-copyright {
    background: #4183C4;
    color: #FFF;
    padding-bottom: 1.5em;
    padding-top: 1.5em;
}

.footer-links {
    color: #FFF;
    padding-bottom: 10px;
    padding-left: 20px;
    padding-right: 20px;
    padding-top: 10px;
}

/* Disqus */
#disqus_thread {
    padding-top: 20px;
    margin-top: 20px;
    border-top: solid 1px #EEE;
}

/* Others */
.spacer-20 {
    margin-top: 20px;
}

/* Google Search */
.gsc-control-cse {
    border: 0 !important;
    padding: 0 !important;
}

.gsc-search-box {
    padding: 0 !important;
}

.gsc-input {
    background: none !important;
}

.gsc-selected-option-container.gsc-inline-block {
    box-shadow: none !important;
    color: #777 !important;
    width: 100px !important;
}

.gsc-result {
    padding: 0 !important;
}

.gcsc-branding {
    display: none !important;
}

.gsc-cursor-current-page {
    color: #FFF !important;
    text-shadow: none !important;
}

.gs-snippet {
    background-color: #FCFCFC !important;
    border: none !important;
}